body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #202023;
    color: #eeeeee;
}

header {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}